:root {
    --color-bg: #f0f3f6;
    --color-light: #119da4;
    --color-main: #13505b;
    --color-white: #ccc;
    --color-white-light: #fff;
    --color-black: #292525;
    --color-type: #3c4859;
    --color-post-main: #4c4e4d;
    --color-post-mark: #ff0;
    --plyr-color-main: #119da4;
}
