
.post-inner-html {
	line-height: 1.8;
	color: var(--color-post-main);
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

.post-inner-html p,.post-inner-html blockquote,.post-inner-html pre,.post-inner-html ul,.post-inner-html ol,.post-inner-html table,.post-inner-html figure {
	margin: 0;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px
}

.post-inner-html p:first-child,.post-inner-html blockquote:first-child,.post-inner-html pre:first-child,.post-inner-html ul:first-child,.post-inner-html ol:first-child,.post-inner-html table:first-child,.post-inner-html figure:first-child {
	margin-top: 0
}

.post-inner-html p:last-child,.post-inner-html blockquote:last-child,.post-inner-html pre:last-child,.post-inner-html ul:last-child,.post-inner-html ol:last-child,.post-inner-html table:last-child,.post-inner-html figure:last-child {
	margin-bottom: 0
}

.post-inner-html ul div,.post-inner-html ol div,.post-inner-html ul p,.post-inner-html ol p,.post-inner-html ul blockquote,.post-inner-html ol blockquote,.post-inner-html ul pre,.post-inner-html ol pre,.post-inner-html ul ul,.post-inner-html ol ul,.post-inner-html ul ol,.post-inner-html ol ol,.post-inner-html ul table,.post-inner-html ol table,.post-inner-html ul figure,.post-inner-html ol figure,.post-inner-html ul iframe,.post-inner-html ol iframe,.post-inner-html ul section,.post-inner-html ol section,.post-inner-html ul article,.post-inner-html ol article,.post-inner-html ul header,.post-inner-html ol header,.post-inner-html ul footer,.post-inner-html ol footer {
	margin-top: 0;
	margin-bottom: 0
}

.post-inner-html iframe {
	display: block;
	margin-top: 16px;
	margin-bottom: 16px
}

.post-inner-html img {
	margin-top: 16px;
	margin-bottom: 16px;
  display: block;
  max-width: 100%;
  border: 0;
  cursor: pointer;
}

.post-inner-html h1,.post-inner-html h2,.post-inner-html h3,.post-inner-html h4,.post-inner-html h5,.post-inner-html h6 {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0
}

.post-inner-html h1:first-child,.post-inner-html h2:first-child,.post-inner-html h3:first-child,.post-inner-html h4:first-child,.post-inner-html h5:first-child,.post-inner-html h6:first-child {
	margin-top: 0
}

.post-inner-html>h1,.post-inner-html>h2, .post-inner-html>h3,.post-inner-html>h4,.post-inner-html>h5,.post-inner-html>h6 {
	margin-top: 18px;
	outline: none;
}

.post-inner-html h1+*,.post-inner-html h2+*,.post-inner-html h3+*,.post-inner-html h4+*,.post-inner-html h5+*,.post-inner-html h6+* {
	margin-top: 0;
}

.post-inner-html h1,.post-inner-html h2,.post-inner-html h3,.post-inner-html h4,.post-inner-html h5,.post-inner-html h6 {
	font-weight: inherit;
	color: var(--color-post-main);
	background-color: transparent
}

.post-inner-html h1 a,.post-inner-html h2 a,.post-inner-html h3 a,.post-inner-html h4 a,.post-inner-html h5 a,.post-inner-html h6 a {
	color: var(--color-post-main)
}

.post-inner-html h1 a,.post-inner-html h2 a,.post-inner-html h3 a,.post-inner-html h4 a,.post-inner-html h5 a,.post-inner-html h6 a,.post-inner-html h1 em,.post-inner-html h2 em,.post-inner-html h3 em,.post-inner-html h4 em,.post-inner-html h5 em,.post-inner-html h6 em,.post-inner-html h1 u,.post-inner-html h2 u,.post-inner-html h3 u,.post-inner-html h4 u,.post-inner-html h5 u,.post-inner-html h6 u,.post-inner-html h1 abbr[title],.post-inner-html h2 abbr[title],.post-inner-html h3 abbr[title],.post-inner-html h4 abbr[title],.post-inner-html h5 abbr[title],.post-inner-html h6 abbr[title] {
	border-bottom-color: var(--color-post-main)
}

.post-inner-html h1 {
	font-size: 22px;
	line-height: 48px;
	text-align: left
}

.post-inner-html h2 {
	font-size: 18px;
	line-height: 26px;
	text-align: left
}

.post-inner-html h3 {
	font-size: 16px;
	line-height: 26px;
	text-align: left
}

.post-inner-html h4,.post-inner-html h5,.post-inner-html h6 {
	line-height: 26px;
	font-size: 14px;
	text-align: left
}

.post-inner-html blockquote {
	position: relative;
	padding: 0 0 0 11px;
	margin: 16px 0;
	border-left: 5px solid var(--color-white)
}

.post-inner-html li blockquote {
	margin-left: -21px
}

.post-inner-html pre {
	line-height: 1.6;
	font-size: 14px;
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
  border-radius: 3px;
}

.post-inner-html pre code {
  padding: 20px;
  font-size: 13px;
}

.post-inner-html p code {
  padding: 3px 5px;
  background: var(--color-bg);
  font-size: 13px;
  border-radius: 3px;
}

.post-inner-html ul,.post-inner-html ol {
	padding-left: 16px
}

.post-inner-html ul li,.post-inner-html ol li {
	margin: 0;
	padding: 0;
	list-style-position: outside
}

.post-inner-html ul li {
	list-style-type: square
}

.post-inner-html ul li ul li {
	list-style-type: disc
}

.post-inner-html ul li ul li ul li {
	list-style-type: circle
}

.post-inner-html ol li {
	list-style-type: decimal
}

.post-inner-html ol li ol li {
	list-style-type: upper-roman
}

.post-inner-html ol li ol li ol li {
	list-style-type: lower-roman
}

.post-inner-html li>ul,.post-inner-html li>ol {
	padding-left: 32px
}

.post-inner-html hr {
	position: relative;
	padding-top: 30px;
	margin-top: -1px;
	margin-bottom: 30px;
	height: 0;
	background: none;
	border: none;
	border-bottom: 1px dashed var(--color-white);
}

.post-inner-html table {
	display: table;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 336px;
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	-ms-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em
}

.post-inner-html table caption {
	padding: 0
}

.post-inner-html table thead th {
	text-align: left
}

.post-inner-html table tbody {
	margin: 0 16px
}

.post-inner-html table tbody tr:nth-child(odd) td,.post-inner-html table tbody tr:nth-child(odd) th {
	background-color: var(--color-bg);
}

.post-inner-html table tbody tr:last-child td,.post-inner-html table tbody tr:last-child th {
	padding-bottom: 6px
}

.post-inner-html table td,.post-inner-html table th {
	padding: 8px 16px 7px;
	border: 1px solid var(--color-white);
}

.post-inner-html iframe {
	vertical-align: text-bottom
}

.post-inner-html a {
	padding-bottom: .025em;
	color: var(--color-light);
	text-decoration: none;
	border-bottom-color: var(--color-light);
	transition: all .2s;
}

.post-inner-html a:focus {
	outline: thin dotted
}

.post-inner-html a:visited {
	color: var(--color-light);
	border-bottom-color: var(--color-light)
}

.post-inner-html a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	color: var(--color-main);
	border-bottom-color: var(--color-main)
}

.post-inner-html a:hover,.post-inner-html a:active {
	outline: 0
}

.post-inner-html b,.post-inner-html strong {
	font-weight: bold
}

.post-inner-html u {
	padding-bottom: .05em;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	border-bottom: 1px solid var(--color-white);
}

.post-inner-html u+u {
	margin-left: .125em
}

.post-inner-html em {
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	-webkit-text-emphasis: filled circle;
	-moz-text-emphasis: filled circle;
	-ms-text-emphasis: filled circle;
	text-emphasis: filled circle;
	-webkit-text-emphasis-position: under left;
	-moz-text-emphasis-position: under left;
	-ms-text-emphasis-position: under left;
	text-emphasis-position: under left
}

.post-inner-html figure img {
	display: block;
	margin: 0 auto
}

.post-inner-html figure figcaption {
	display: block;
	text-align: center;
	font-style: italic
}

.post-inner-html cite {
	font-style: inherit
}

.post-inner-html cite:before,.post-inner-html cite:after {
	content: "《";
	line-height: inherit
}

.post-inner-html cite:after {
	content: "》"
}

.post-inner-html abbr[title] {
	padding-bottom: .05em;
	cursor: help;
	border-bottom: 1px dotted var(--color-post-main)
}

.post-inner-html dfn {
	font-style: italic
}

.post-inner-html mark {
	background: var(--color-post-mark);
	color: var(--color-post-main)
}

.post-inner-html q {
	quotes: "\201C" "\201D" "\2018" "\2019"
}

.post-inner-html small {
	font-size: 80%
}

.post-inner-html sub,.post-inner-html sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

.post-inner-html sup {
	top: -0.5em
}

.post-inner-html sub {
	bottom: -0.25em
}