<% if (config.aomori_copyright){ %>
  <div class="article-copyright hairline">
    <p>
      <%= __('copyright_prefix') %>  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><%= __('copyright') %></a> <%= __('copyright_suffix') %>
    </p>
  </div>
  <% } %>