<% if (site.tags.length){ %>
  <div class="widget-wrap widget-tags">
    <div class="widget-title"><span>Tags</span></div>
    <div class="widget-inner">
      <%- list_tags({show_count: false}) %>
    </div>
  </div>
<% } %>
