<div class="search">
    <div class="has-icon-right">
        <input type="text" class="form-input" id="search" placeholder="SEARCH" autocomplete="off">
        <div class="form-icon">
            <ion-icon name="search"></ion-icon>
        </div>
    </div>
    <div class="search-result" id="search-ps"></div>
</div>