
<% if (config.aomori_search_algolia){ %>
    <%- partial('_partial/search') %>
<% } %>

<div class="widget" id="widget">
    <% (config.aomori_widgets || theme.aomori_widgets).forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
</div>

<div id="backtop"><i class="icon icon-arrow-up"></i></div>