<% for (var i in theme.social){ %>
    <a class="social" target="_blank" href="<%- theme.social[i].url %>">
        <box-icon type='<%- theme.social[i].type %>' name='<%- theme.social[i].icon %>'></box-icon>
    </a>
<% } %>