<% for (var i in config.social){ %>
    <a class="social" target="_blank" href="<%- config.social[i].url %>">
        <box-icon type='logo' name='<%- config.social[i].icon %>'></box-icon>
    </a>
<% } %>