<% for (var i in config.aomori_social){ %>
    <a class="social" target="_blank" href="<%- config.aomori_social[i].url %>">
        <ion-icon name="<%- config.aomori_social[i].icon %>"></ion-icon>
    </a>
<% } %>